node_modules
dist
.DS_Store

native-wallet/build/bin
native-wallet/build/darwin
native-wallet/build/windows

phonon-terminal/permissions.json
phonon-terminal/web/server.key
phonon-terminal/web/server.pem
